.body {
	background: $white;
	min-height: 100%;
	color: $font-color;
	h1, h2, h3, p, span, div { color: $font-color; }
}

.section {
	margin-top: 40px;
	&.section-first {
		margin-top: 0;
	}
}

.push-top {
	margin-top: 30px;
}

.pull-right {
	float: right;
}

h1 { font-weight: bold; }


@media only screen and (max-width: 600px) {
	.split { width: 50%; float: left; }
}

@media only screen and (max-width: 320px) {
	.split { clear: left; }
}
