.main-content {
	background: $white;
}

.number {
	width: 112px;
	height: 112px;
	border-radius: 50%;
	display: table;
	margin: 0 auto;
	text-align: center;
	background: $blue-dark;

	span {
		position: relative;
		margin-top: 30px;
		display: table-cell;
		font-size: 62px;
		font-weight: bold;
		vertical-align: middle;
		color: $white;
	}

	&.number-wpercent {
		padding-right: 20px;
	}

	.percent {
		position: absolute;
		font-size: 22px;
		top: 0;
		right: 5px;
	}
}
