.main-content {
	padding: 62px 0 50px;
	background: $white;
}

.number {
	position: relative;
	width: 112px;
	height: 112px;
	border-radius: 50%;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	background: $blue-dark;
	box-shadow: 0 0 0 12px #cad6e2;

	span {
		position: relative;
		margin-top: 50px;
		display: inline-block;
		font-size: 62px;
		font-weight: bold;
		vertical-align: middle;
		color: $white;
	}

	&.number-wpercent {
		span { margin-left: -6px; }
		span.one-hundred {
			margin-top: 48px;
			font-size: 48px;
		}
	}

	.percent {
		position: absolute;
		top: -4px;
		right: -20px;
		margin: 0;
		font-size: 22px;
		line-height: 0;
	}
}
